<h1 class='text-center'>Contact Us</h1>
{{#if responseMessage}}
    <div class='alert alert-success'>
        <h4>Thank you! Your message is sent.</h4>
        <p>To: {{model.email}}</p>
        <p>Message: {{model.message}}</p>
        <p>Reference ID: {{model.id}}</p>
    </div>

{{else}}
    <div class='form-group has-feedback {{if model.isValidEmail 'has-success'}}'>
        <label><h2>Email Address</h2></label>
        {{input type='email' value=model.email class='form-control' placeholder='email@example.com' autofocus='autofocus'}}
        {{#if model.isValidEmail}}<span class='glyphicon glyphicon-ok form-control-feedback'></span>{{/if}}
    </div>

    <div class='form-group'>
        <label><h2>Message</h2></label>
        {{textarea value=model.message rows='7' class='form-control'  placeholder='Your message. (At least 5 characters)'}}
        {{#if model.isLongEnough}}<span class='glyphicon glyphicon-ok form-control-feedback'></span>{{/if}}
    </div>

    <button disabled={{model.isNotValid}} class='btn btn-success' {{action 'sendMessage' model}}>Send</button>
{{/if}}